* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #000000;
}

.banner p {
    font-size: 20px;
    color: #000;
}


.section {
    padding: 40px 20px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


.moto-cards, .equipamiento-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.moto-card, .equipamiento-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.moto-card img, .equipamiento-card img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
}

.moto-card h3, .equipamiento-card h3 {
    margin-top: 15px;
    font-size: 24px;
}

.moto-card p, .equipamiento-card p {
    margin-top: 10px;
    font-size: 16px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form input, form textarea {
    padding: 10px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 16px;
}